[Unit]
Description=FastAPI Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/FastAPI-Practice
ExecStart=/root/.pyenv/shims/python3.10 -m uvicorn app:app --host 127.0.0.1 --port 8000 --reload
Restart=always

[Install]
WantedBy=multi-user.target